# Node.js dependencies
node_modules/

# Environment variables
.env

# Compiled files
*.log
*.lock

# Sensitive directories and files
aesFiles/
config/apiKeys.json
public/proofData.json

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker-specific files
docker-compose.override.yml
docker-compose.override.yaml
*.stack.yml
Dockerfile*
.dockerignore
volumes/
*.tar

# Build folders
build/
.cache/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Truffle and Ethereum build files
contracts/build/
migrations/build/
test/build/
